html {
  font-size: 10px; }

body {
  box-sizing: border-box; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  /* 80%{
          transform: translateX(-10px);
      } */
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    text-align: center;
    letter-spacing: 3.5rem;
    font-size: 6rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 0.3s;
    /* animation-delay: 3s;*/
    /* animation-iteration-count: 3; */
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    margin-bottom: 6rem;
    animation-name: moveInRight;
    animation-duration: 0.3s;
    /* animation-delay: 3s;*/
    /* animation-iteration-count: 3; */
    animation-timing-function: ease-out; }
  .heading-primary--card {
    font-weight: 300;
    font-size: 6rem; }

.heading-secondary {
  display: inline-block;
  background: linear-gradient(to right, #67e950, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.5rem;
  transition: 0.2s; }
  .heading-secondary:hover {
    transform: skewY(5deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-class-center {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-med {
  margin-bottom: 3rem; }

.section-about {
  padding: 25rem 0rem;
  margin-top: -20vh;
  background-color: #eee;
  width: 100%; }

.section-features {
  padding: 20rem 0rem;
  width: 100%;
  margin-top: -10rem;
  transform: skewY(-7deg);
  background-image: linear-gradient(to right bottom, rgba(103, 233, 80, 0.829), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #eee;
  padding: 25rem 0 14rem 0;
  margin-top: -10rem; }

.section__stories {
  padding: 8rem 0;
  position: relative; }

.section__book {
  padding: 8rem 13rem;
  background: linear-gradient(to right bottom, #67e950, #28b485); }

.book {
  background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../img/nat-10.jpg);
  background-size: cover;
  height: 50rem; }
  .book__form {
    padding: 5rem;
    width: 50%; }

.button {
  display: inline-block; }

.button-holder {
  margin: 2rem 0 5rem 0;
  display: inline-flex;
  align-items: center;
  justify-content: center; }

.button-caption {
  margin: 0 1.5rem;
  display: inline-block;
  font-weight: 700; }

.form--input {
  font-size: inherit;
  font-style: inherit;
  display: block;
  width: 90%;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  outline: none; }

.btn, .btn:link, .btn:visited {
  position: relative;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 4rem;
  border: none;
  transition: all 0.2s;
  border-radius: 10rem; }
  .btn:not(.btn--green), .btn:link:not(.btn--green), .btn:visited:not(.btn--green) {
    background-color: #ffffff; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  color: #777; }
  .btn--white::after {
    background-color: #ffffff; }

.btn--green {
  color: #ffffff;
  background-color: #55c57a; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10rem;
  transition: all 0.3s; }

.btn--animated {
  animation-name: moveInTop;
  animation-delay: 0.4s;
  animation-duration: 0.5s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #28b485;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.radio-button {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  padding: 5px;
  border-radius: 50%;
  border: 5px solid #55c57a; }

.inner-button {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  border-radius: 50%;
  background-color: #55c57a;
  background-color: transparent; }

.radio-butt {
  display: none; }

#radio-one:checked + .radio-button .inner-button {
  background-color: #55c57a; }

#radio-two:checked + .radio-button .inner-button {
  background-color: #55c57a; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    transition: all 0.2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0rem;
      top: 1rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 8rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
      z-index: 3; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
  backface-visibility: hidden; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 8rem;
    background: linear-gradient(to right, #67e950, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    backface-visibility: hidden; }
  .feature-box:hover {
    transform: scale(1.03) translateY(-1.5rem); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  width: 100%;
  position: relative;
  height: 50rem; }
  .card__heading {
    display: inline-block;
    font-size: 2.8rem;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    padding: 0 1rem; }
    .card__heading--1 {
      background: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 56, 0.85)); }
    .card__heading--2 {
      background: linear-gradient(to right bottom, rgba(103, 233, 80, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading--3 {
      background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
    .card__heading--holder {
      position: absolute;
      text-align: right;
      right: 2rem;
      top: 23rem;
      transform: translateY(-100%); }
  .card__side {
    color: white;
    font-size: 2rem;
    height: 50rem;
    transition: all .6s ease;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      position: absolute;
      width: 100%; }
    .card__side--back {
      background-color: green;
      transform: rotateY(-180deg);
      position: absolute;
      width: 100%; }
      .card__side--back-1 {
        background: linear-gradient(to right bottom, #ffb900, #ff7738); }
      .card__side--back-2 {
        background: linear-gradient(to right bottom, #67e950, #28b485); }
      .card__side--back-3 {
        background: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card__side--back-action-box {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        width: 100%;
        transform: translate(-50%, -50%); }
  .card:hover .card__side--front {
    transform: rotateY(180deg);
    z-index: 1; }
  .card:hover .card__side--back {
    transform: rotateY(0);
    z-index: 2; }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7738), url(../img/nat-5.jpg);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #67e950, #28b485), url(../img/nat-6.jpg);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .card__details ul {
    margin: 0 auto;
    list-style: none;
    width: 80%; }
    .card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem;
      color: #777; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #dbd3d3; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 6rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  .story::after {
    content: "";
    display: table;
    clear: both; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: orangered;
    shape-outside: circle(50% at 50% 50%);
    transform: skewX(12deg) translateX(-1.5rem);
    clip-path: circle(45% at 50% 50%); }
  .story__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.2s; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    padding: 1rem;
    box-decoration-break: clone;
    text-align: center;
    text-transform: uppercase;
    transition: all .5s;
    opacity: 0;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: translateX(-4rem) scale(1);
    background: rgba(0, 0, 0, 0.2);
    filter: brightness(0.7) blur(2px); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.label {
  display: block;
  margin-left: 2rem;
  transform: translateY(-4rem);
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s;
  font-weight: 700;
  color: #5f5e5e; }
  .label:not(:last-child) {
    margin-bottom: 3rem; }

.form--input {
  color: #302e2e;
  font-size: inherit;
  font-style: inherit;
  display: block;
  width: 90%;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  outline: none;
  border-bottom: 3px solid transparent;
  transition: all 0.2s; }
  .form--input:focus {
    border-bottom: 3px solid #55c57a;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3); }
  .form--input:focus:not(:placeholder-shown) + .label {
    transform: translateY(0rem);
    opacity: 1;
    visibility: visible; }
  .form--input:focus:invalid {
    border-bottom: 3px solid #ff7b00; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(103, 233, 80, 0.829), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2);
    float: left; }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-3 {
    width: calc((100% - 12rem)/3);
    float: left; }
    .row .col-1-of-3:not(:last-child) {
      margin-right: 6rem; }
  .row .col-2-of-3 {
    width: calc((100% - 6rem - (100% - 12rem)/3));
    float: left;
    background-color: orangered;
    color: white; }
    .row .col-2-of-3:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-4 {
    width: calc((100% - 18rem)/4);
    float: left; }
    .row .col-1-of-4:not(:last-child) {
      margin-right: 6rem; }
  .row .col-2-of-4 {
    float: left;
    background-color: orangered;
    color: white;
    width: calc((100% - 12rem - (100% - 18rem)/2)); }
  .row .col-3-of-4 {
    float: left;
    background-color: orangered;
    color: white;
    width: calc((100% - 6rem - (100% - 18rem)/4)); }
